*{
    transition: 0.5s;
}
body{
    background-color: rgb(47, 47, 47);
    color: white;
}
.slider1{
    display: flex;
    overflow: hidden;
    margin-top: 20px;
    align-items: flex-start;
}
.btn{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    position: absolute;
    border: none;
    font-size: bold;
}
.controle{
    background-color: pink;
    position: absolute;
    width: 100%;
    /* height: 4rem; */
    transform: translatey(200px);
}
.left{
    left: 0px;
}
.right{
    right: 0px;
}
.discricao{
    transform: translatey(-250px);
    opacity: 0;
    cursor: default;
}
.filme{
    margin-right:0.2rem;
    height: 29rem;
    padding-top: 20px;
}
.filme:hover{
    scale: 1.05;
}
.filme:hover .discricao{
    opacity: 0.9;
}
.discricao:hover{
    opacity: 0.9;
}
.poster{
    height: 400px;
}
.title{
    width: 300px;
}
.plot{
    width: 300px;
}